body {
  margin: 0 40px;
}

h1 {
  background: #a52a2a;
  color: white;
  text-align: center;
  margin: 15px -40px;
  font-weight: bold;
  font-size: 35px;
}

main {
  font-size: 17px;
}

#sunset {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}

#first {
  font-style: italic;
}

#second {
  font-weight: bold;
}

#third {
  font-style: italic;
  font-weight: bold;
  color: #004aff;
}

.cars {
  display: flex;
  justify-content: center;
}

.cars img {
  border: dashed;
  margin: 0 2px;
  margin-bottom: 20px;
}

#fourth {
  color: #004aff;
}

footer {
  background: black;
  color: white;
  text-align: center;
  margin: 15px -40px;
  font-size: 20px;
}
